*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
  /* colors */
   --primary-400: #5063a8  ;
   --primary-500: #2c3863 ;

   /* grey */
   --grey-50: #f5f5f5;
   --grey-100: #f2f2f2;
   --grey-200: #f0f0f0;
   --grey-300: #ededed;
   --grey-350: #eae5e5;
   --grey-400: #8b8e90;
   --grey-500: #627d98;
   --grey-600: #486581;
   --grey-700: #334e68;
   --grey-800: #243b53;
   --grey-900: #102a43;
   --grey-1000: #d1d4d6;

  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

    /* fonts  */
    --headingFont: 'Noto Sans', Sans-Serif;
    --bodyFont: 'Noto Sans', Sans-Serif;
    --small-text: 0.875rem;
    --extra-small-text: 0.7em;

     /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-5: 0px 0px 2px -1.5px rgba(0, 0, 0, 0.56);
}

body {
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

